a {
  color: rgb(52, 192, 80);
}
.nav-link {
  color: rgb(162, 162, 162) !important;
  background-color: rgb(232, 232, 232) !important;
}

.active {
  color: rgb(105, 105, 105) !important;
  background-color: rgb(255, 255, 255) !important;
}

.nav-item {
  margin-right: 2px !important;
}

/* Buttons */
.btn-success {
    border-radius: 60px !important;
    border-width: 0;
    padding: 12px 30px;
    background-color: rgb(52, 192, 80);
  }

  .btn-success:hover {
    background-color: rgb(90, 214, 115);
  }
  
  /* Form Controls */
  .form-control {
    border-radius: 60px !important;
    margin-bottom: 2%;
  }
  select{
    border-radius: 60px !important;
    margin-bottom: 2%;
  }
  
  /* Output */
  .output {
    height: auto;
    resize: none;
    color: rgb(126, 126, 126);
    border-radius: 0 !important;
  }
  
  .output:disabled {
    background-color: white;
    border-bottom: 1px solid rgb(207, 207, 207);
    border-top: none;
    border-left: none;
    border-right: none;
  }
  
  /* Submit Button */
  .submitBtn {
    margin-bottom: 5% !important;
    margin-top: 5%;
  }
  
  /* Link Buttons */
  .linkButtons {
    display: none;
  }
  
  /* Copy Button */
  .copyBtn {
    border-radius: 60px !important;
    background-color: rgb(197, 197, 197);
    border: none;
  }

  input {
    color: rgb(152, 152, 152) !important;
  }

/* Container */
  .container {
    width: 60%;
  }

  @media (max-width: 800px) {
    .container {
        width: 80%;
      }
  }

  #magicLink{
    display: none;
  }
  #magicLinkLabel{
    display: none;
  }
  
  